<%- include('./partials/html-head') %>
<% if (!user) { %>
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link rel="stylesheet" href="/stylesheets/siwg.css">
<% } %>
</head>

<body>
  <main>
      <h1>Automobile Aficionado</h1>
      <h2>Welcome!</h2>
      <h3>Go ahead and login to continue</h3>
      <!-- <h1>hello, <%= user ? user.profile.name : "friend" %></h1> -->
      <% if (user?.profile.avatar) { %>
        <div>
          <img
            src="<%= user.profile.avatar %>"
            alt="<%= user.profile.name %> avatar"
          />
        </div>
      <% } %>
      <nav>
        <% if (user) { %>
          <a href="/auth/logout">
            <button type="submit">Logout</button>
          </a>
        <% } else { %>
          <a href="/auth/google" class="siwg-link">
            <button type="submit" class="siwg">
              <img id="siwg-image" alt="Sign in with Google" />
            </button>
          </a>
        <% } %>
      </nav>
  </main>
</body>

<%- include('./partials/footer') %>
