<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<link rel="stylesheet" href="/stylesheets/cars/edit.css">

<section>
    <h1>Edit Car Details</h1>
    <form action="/cars/<%= car._id %>?_method=PUT"
    method="post">
        <div class="make">
            <label for="make">Make:</label>
            <input type="text" name="make" value="<%= car.make %>" id="make" size="18">
        </div>
        <div class="model">
            <label for="model">Model:</label>
            <input type="text" name="model" value="<%= car.model %>" id="model" size="17">
        </div>
        <div class="year">
            <label for="year">Year:</label>
            <input type="text" name="year" value="<%= car.year %>" id="year" size="18">
        </div>
        <div class="mileage">
            <label for="mileage">Mileage:</label>
            <input type="text" name="mileage" value="<%= car.mileage %>" id="mileage" size="17">
        </div>
            <button id="update-btn" class="btn btn-primary" type="submit">Update</button>
    </form>
</section>
<%- include('../partials/footer') %>