<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
    <h1>Current Cars</h1>
    <% cars.forEach(car => { %>
        <div class="card" style="width: 18rem;">
            <img src="<%= car.owner?.avatar %> " class="card-img-top" alt="avatar">
            <div class="card-body">
                <h5 class="card-title"><%= car.owner?.name %></h5>
                <p class="card-text"><%= car.make %> <%= car.model %></p>
                <a href="/cars/<%= car._id %> " class="btn btn-primary">Details</a>
            </div>
        </div>
    <% }) %>

    <% if (user) { %>
        <form id="add-car"
        action="/cars/new"
        method="get">
            <button class="btn btn-success" type="submit">Add Your Car!</button>
        </form>
    <% } %>
</section>



<%- include('../partials/footer') %>