<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/cars/index.css">
<% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
<% } %>
</head>
<body>
    <nav>
        <% if (user) { %>
        <a href="/auth/logout">
            <button class="btn btn-warning" type="submit">Logout</button>
        </a>

        <% } else { %>
        <a href="/auth/google" class="siwg-link">
            <button type="submit" class="siwg">
            <img id="siwg-image" alt="Sign in with Google" />
            </button>
        </a>
        <% } %>
    </nav>

<section>
    <h1>Current Cars</h1> 
    <% cars.forEach(car => { %>
        <div class="card" style="width: 18rem;">
            <img src="<%= car.owner?.avatar %> " class="card-img-top" alt="avatar">
            <div class="card-body">
                <h5 class="card-title"><%= car.owner?.name %></h5>
                <p class="card-text"><%= car.make %> <%= car.model %></p>
                <a href="/cars/<%= car._id %> " class="btn btn-primary">Details</a>
            </div>
        </div>
    <% }) %>

    <% dreamcars.forEach(dreamcar => { %>
        <div class="card" style="width: 18rem;">
            <img src="<%= dreamcar.owner?.avatar %> " class="card-img-top" alt="avatar">
            <div class="card-body">
                <h5 class="card-title"><%= dreamcar.owner?.name %></h5>
                <p class="card-text">Dream Car: <%= dreamcar.make %> <%= dreamcar.model %></p>
                <a href="/dreamcars/<%= dreamcar._id %> " class="btn btn-primary">Details</a>
            </div>
        </div>
    <% }) %>

    <% if (user) { %>
        <div class="add-btns">
            <form id="add-car"
            action="/cars/new"
            method="get">
                <button id="add-your-car" class="btn btn-success" type="submit">Add Your Car</button>
            </form>
        
            <form id="add-dream-car"
            action="/dreamcars/new">
                <button id="dream-cars" class="btn btn-primary" type="submit">Dream Cars</button>
            </form>
        </div>  
    <% } %>
</section>
<%- include('../partials/footer') %>