<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<link rel="stylesheet" href="/stylesheets/cars/show.css">

<section>
    <h1>Car Details</h1>
    <p><span>Owner:</span><%= car.owner?.name  %> </p>
    <p><span>Make:</span> <%= car.make %></p>
    <p><span>Model:</span> <%= car.model %></p>
    <p><span>Year:</span> <%= car.year %></p>
    <p><span>Mileage:</span> <%= car.mileage %></p>

    <% if (car.owner.equals(user?.profile._id)) { %> 
        <form action="/cars/<%= car._id %>/edit"
        method="get">
            <button class="edit-btn" type="submit">Edit</button>
        </form>
    <% } %>     

    <% if (user) { %>
    <form id="leave-review"
    action="/cars/<%= car._id %>/reviews"
    method="post">
        <p>Rate on a scale of 1-5 (5 is best)</p>
        <div class="review-rating">
            <label for="review-rating">Rating:</label>
            <select name="rating" id="review-rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5" selected>5</option>
            </select>
        </div>
        <div class="review-content">
            <label for="review-content">Review:</label>
            <textarea type="textarea" name="content" 
            placeholder="Write your review here" 
            id="review-content" required></textarea>
        </div>
        <button type="submit">Leave Review</button>
    </form>
    <% } %>

<% if (car.reviews.length) { %>
    <table>
        <thead>
            <tr>
                <th>Rating</th>
                <th>Review</th>
            </tr>
        </thead>
        <tbody>
            <% car.reviews.forEach(function(review) { %>
            <tr>
                <td><%= review.rating %></td>
                <td><%= review.content %></td>
            </tr>
            <% }) %>
        </tbody>
        </table>
    <% } else { %>
        <h3>No Reviews Yet</h3>
    <% } %>
</section>

<footer>
    <form id="back-btn" 
    action="/cars"
    method="get">
        <button type="submit">Back</button>
    </form>
</footer>

<%- include('../partials/footer') %>